.margin-left {
  margin-left: 40%;
}

.mini-menu {
  margin-left: 10%;
  border: 1px solid black;
}

.btn-menu, .links, .links-2{
  font-size: 12px !important;
  text-align: right;
}

.links {
  margin-top: -13%;
}

.links-2 {
  margin-top: -20%;
}

.space {
  height: 30px;
}

.tab {
  width: 10%;
  border: 2px solid white;
  border-radius: 10px 0 10px 0;
}
